## Question 1

In [70]:
name = "Lovepreet"
data = "Congratulations for the new job"

In [71]:
letter = '''Dear {},\n\t you are selected !\n{}'''.format(name, data)

In [72]:
print(letter)

Dear Lovepreet,
	 you are selected !
Congratulations for the new job

## Question 2

In [74]:
li = []

for i in range(4):
    a = int(input("Enter the {} number : ".format(i+1)))
    li.append(a)

print("List is ...", li)

Enter the 1 number : 6
Enter the 2 number : 7
Enter the 3 number : 2
Enter the 4 number : 5
List is ... [6, 7, 2, 5]

In [75]:
print("Sum of list is .....", sum(li))

Sum of list is ..... 20

In [76]:
x = 0

for i in range(len(li)):
    x += li[i]

print("Sum of list is ....", x)

Sum of list is .... 20

## Question 3

In [28]:
class Myclass:
    def __init__(self):
        print("Object Created")
    def printname(self, a):
        print("Hello ", a)

In [32]:
Myclass

__main__.Myclass

In [29]:
myobject = Myclass()

Object Created

In [79]:
myobject.printname("Lovepreet")

Hello  Lovepreet

In [33]:
myobject

## Question 4

In [35]:
s = {}
type(s)

dict

In [36]:
empset = set()
empdict = dict()

In [63]:
empset, empdict

(set(), {})

## Question 5

In [67]:
names = ["Rahul", "Abhishek", "Rajvir", "Karan", "Preet", "Lovepreet"]
q = "Karan"

In [68]:
c = 0
for name in names:
    if name == q:
        c+=1
        print("Found, {} is in the list".format(q))
  
if c==0:
    print("Not Found")

Found, Karan is in the list

In [69]:
if q in names:
    print("Found, {} is in the list".format(q))
else:
    print("Not found")

Found, Karan is in the list

## Question 6

In [60]:
for i in range(5, 0, -1):
    for j in range(i):
        print(j +1 ,end =" " )
    print()

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [62]:
for i in range(1, 6):
    for j in range(i):
        print("*", end=" ")
    print()

*
* *
* * *
* * * *
* * * * *